<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/pokestyle.css">
    <title></title>
  </head>
  <body class="pokemon">
    <h2 class="containareon" >New Pokemon</h2>
    <div class="containareon">


    <form action="/pokemon" method="post" >
      <label>Name:</label>
      <input name="pokemon[name]">
      <br>
      <label >type:</label>
      <input name="pokemon[poke_type]">
      <br>
      <label>cp:</label>
      <input name="pokemon[cp]">
      <br>
      <label>img_url:</label>
      <input name="pokemon[img_url]">
      <br>
      <input id="button" type="submit" value="Create">
    </form>
    </div>
  </body>
</html>
