<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="/css/pokestyle.css">
  </head>
  <body>
    <h2 class="pokemon"><a href="/pokemon">Pokemon</a></h2>
    <h2 class="pokemon"><a href="/trainers">Trainers</a></h2>
  </body>
</html>
