<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/pokestyle.css">
    <title></title>
  </head>
  <body>
    <h2 class="containareon">All Trainers</h2>

    <% @trainers.each do |trainer| %>
      <div class="pokemon">
        <h2 class="containareon"><a href="/trainers/<%=trainer.id%>"><%=trainer.name%></a></h2>
        <p class="containareon"><img src="<%=trainer.img_url%>" alt="<%=trainer.name%>" width="200" height="200" margin="auto"></p>
      </div>
    <% end %>
    <h3 class="containareon"><a href="/trainers/new">Add New Trainer</a></h3>
    <h4 class="containareon"><a href="/">Return to Menu</a></h4>
  </body>
</html>
